<div class='container center-align'>
	<h1>Login</h1>
	<form method="POST" role="form">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email">
		<label for="password">Password</label>
	    <input type="password"  id="password" name="password">
		<button class="waves-effect" type="submit"> Submit</button>
	</form>
</div>
