<h1>Welcome. </h1>

<div class="parallax-container">
	<div class="parallax"><img src="https://d22d7v2y1t140g.cloudfront.net/m_4426775_wreRl02MGCFP.png"></div>
</div>

<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt</h2>

<div class="parallax-container">
	<div class="parallax"><img src="http://www.lauchlandphotography.com/wp-content/uploads/2014/08/Nightclub-Photography-Rates.jpg"></div>
</div>

<h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullam </h4>




