<h2 class = 'center-align'> A network for music lovers, by music lovers. </h2>

<div class="parallax-container">
	<div class="parallax"><img src="https://d22d7v2y1t140g.cloudfront.net/m_4426775_wreRl02MGCFP.png"></div>
</div>

<h3 class = 'center-align'> Join today, and connect with other photographers, dancers, artists, creatives, and fans. </h3> 

<div class="parallax-container">
	<div class="parallax"><img src="http://www.lauchlandphotography.com/wp-content/uploads/2014/08/Nightclub-Photography-Rates.jpg"></div>
</div>

<h5 class='center-align'> built by Navya. Contact: navyayvan@gmail.com </h5>



