<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href='/'><i class="material-icons">home</i></a></li>
        <li> <a href="/search"><i class="material-icons">search</i></a></li>
        <% if (currentUser) { %>
        <li> <a href='/profile'><i class='material-icons'>account_circle</i></a></li>
        <li> <a href="/auth/logout">Logout</a><li>
        <% } else { %>
        <li> <a href="/auth/signup">Sign Up</a></li>
        <li> <a href="/auth/login">Login</a></li>
        <% } %>
    </ul>
     <ul class="side-nav" id="mobile-demo">
      <li><a href='/'><i class="material-icons">home</i></a></li>
        <li> <a href="/search"><i class="material-icons">search</i></a></li>
        <% if (currentUser) { %>
        <li> <a href='/profile'><i class='material-icons'>account_circle</i></a></li>
        <li> <a href="/auth/logout">Logout</a><li>
        <% } else { %>
        <li> <a href="/auth/signup">Sign Up</a></li>
        <li> <a href="/auth/login">Login</a></li>
        <% } %>
     </ul>
  </div>
</nav>

<% if (typeof alerts !== 'undefined') { %>
      <% for (key in alerts) { %>
        <% alerts[key].forEach(function(thisMsg) { %>
          <div class="alert alert-<%= key %>"><%= thisMsg %></div>
        <% }); %>
      <% } %>
    <% } %>

  <%- body %>

  <script src="//code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
       $(".button-collapse").sideNav();
    })
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>
  </body>
</html>