<div style='margin-top:100px' class='container'>
	<form method="POST" action="/artist"  role="search">
		<div class="form center-align">
	        <input class="input-lg form-control" placeholder="search by artist " type='text' name='searchartist'>
			<input class="waves-effect gray center-align" type="submit" value='click to see their tour!'>
		</div>
	</form>
	<!-- <form method='POST' action="/venue">
		<div class='form-group'>
			<input class="form-control" placeholder="search by venue " type='text' name='searchvenue'>
			<input class="form-control btn btn-success" type="submit" value='find it!'>
		</div>
	</form> -->
</div>