<h1>Search Page </h1>

<form method='POST' action="/artist">
			<input placeholder="search by artist " type='text' name='searchartist'>
			
			<input type="submit">
</form>


<form method='POST' action="/venue">
			<input placeholder="search by venue " type='text' name='searchvenue'>
			<input type="submit">
</form>